* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Cormorant_Reg", sans-serif;
}

@font-face {
    font-family: "Brittany";
    src: url("/static/fonts/BrittanySignatureRegular.woff2") format("woff2"),
        url("/static/fonts/BrittanySignatureRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant_Reg";
    src: url("/static/fonts/CormorantGaramond-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant_Bold";
    src: url("/static/fonts/CormorantGaramond-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant_SemiBold";
    src: url("/static/fonts/CormorantGaramond-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Cormorant_Mid";
    src: url("/static/fonts/CormorantGaramond-Medium.ttf") format("truetype");
}

/* Nav Bar */
#logo {
    height: 5vh;
}

.nav_bg {
    background-color: #ccccff;
}

.nav-link:focus {
    outline: none;
    box-shadow: none;
}

.navbar-brand:hover {
    color: #7171aa;
}

.nav-link:hover {
    color: #7171aa;
}

.navbar-toggler:hover {
    background-color: #7171aa;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

/* GALLERY */

.gallery_img {
    max-height: 350px;
    object-fit: cover;
    width: 100%;
}

/* ABOUT ME */

.reg_header {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Brittany", cursive;
    font-size: 1.8rem;
}

p {
    font-size: 1.25rem;
}

.main_info {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about_me_img {
    max-height: 300px;
    display: flex;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 25px;
}

/* CONTACT */

.form-bg {
    background-color: #bfb78f;
    padding: 35px;
    border-radius: 20px;
    margin: 2rem;
    display: flex;
    flex: 1;
}

#contact_line {
    border: 2px solid black;
    height: auto;
    align-self: stretch;
}

/* -- Chat Section -- */

.chat_section {
    flex: 1;
    padding-right: 35px;
}

.chat_main_header {
    padding-bottom: 20px;
    font-size: 4rem;
    font-family: "Brittany";
    max-width: 100%;
    line-height: 1.8;
}

.chat_header {
    padding-bottom: 10px;
    font-size: 2.5rem;
    font-family: "Cormorant_Bold";
}

.email_p {
    font-size: 1.8rem;
}

.social_icon_container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
}

.circle_btn {
    background-color: #807440;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle_btn:hover {
    background-color: #6e6537;
    border-color: #6e6537;
    color: white;
    cursor: pointer;
}

.instagram_icon {
    height: 25px;
}

.etsy_icon {
    height: 20px;
}

.pot_icon {
    max-height: 150px;
    justify-self: center;
    display: flex;
}

/* -- Message Section -- */

.message_section {
    flex: 1;
    flex-direction: column;
    padding-left: 35px;
    position: relative;
    min-height: 100%;
    display: flex;
}

.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-top: 15px;
    margin-top: auto;
}

textarea {
    height: 200px;
    min-height: 150px;
    flex-grow: 1;
}

.btn {
    background-color: #807440;
    border-color: #807440;
    width: 170px;
    height: 50px;
    font-family: "Cormorant_SemiBold";
}

.submit_btn:hover {
    background-color: #6e6537;
    border-color: #6e6537;
    color: white;
    cursor: pointer;
}

/* Media Queries */

@media (max-width: 890px) {
    /* Gallery */

    /* Contact */

    .form-bg {
        flex-direction: column;
        margin: 30px;
    }

    .chat_main_header {
        text-align: center;
        font-size: 2.4rem;
        padding-bottom: 15px;
    }

    .chat_section {
        padding-right: 0px;
    }

    .chat_section_info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .chat_header {
        font-size: 1.8rem;
        text-align: center;
    }

    .client_email {
        order: 1;
    }

    .email_p {
        font-size: 1.3rem;
    }

    .pot_div {
        order: 2;
    }

    .pot_icon {
        height: 80px;
    }

    .client_social {
        order: 3;
    }

    .social_icon_container {
        justify-content: center;
    }

    .circle_btn {
        height: 50px;
        width: 50px;
    }

    .message_section {
        padding-left: 0px;
        padding-top: 30px;
    }

    textarea {
        height: 100px;
    }
}
@media (max-width: 767px) {
    /* Contact */

    .form-bg {
        padding: 20px;
        margin: 30px 10px 10px 10px;
    }

    .chat_section {
        padding-bottom: 20px;
    }

    .chat_main_header {
        font-size: 2rem;
    }

    .chat_header {
        font-size: 1.5rem;
        padding-bottom: 5px;
    }

    p.email_p {
        margin-bottom: 0px;
    }

    .pot_icon {
        height: 60px;
    }

    .social_icon_container {
        padding-bottom: 0px;
    }

    .message_section {
        padding-top: 20px;
    }
}

@media (max-width: 500px) {
    .chat_section_info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .client_email {
        order: 1;
    }

    .pot_div {
        order: 3;
    }

    .client_social {
        order: 2;
    }

    .btn {
        height: 50px;
        width: 150px;
        font-size: 0.8;
    }
}
