* {
    box-sizing: border-box;
}

/* media query */

/* Nav Bar */
#logo {
    height: 5vh;
}

.nav_bg {
    background-color: #ccccff;
}

/* GALLERY */

.gallery_img {
    height: 350px;
    object-fit: cover;
    width: 100%;
}

/* ABOUT ME */

.reg_header {
    text-align: center;
    margin-bottom: 10px;
}

.main_info {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about_me_img {
    height: 300px;
    display: flex;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 25px;
}

/* CONTACT */

.form-bg {
    background-color: #bfb78f;
    padding: 55px;
    border-radius: 20px;
    margin: 65px;
    display: flex;
}

#contact_line {
    border: 2px solid black;
    height: auto;
    align-self: stretch;
}

/* -- Chat Section -- */

.chat_section {
    flex: 1;
    padding-right: 55px;
}

.chat_main_header {
    padding-bottom: 60px;
}

.chat_header {
    padding-bottom: 30px;
}

.instagram_icon {
    padding-bottom: 30px;
    height: 60px;
}

.pot_icon {
    max-height: 150px;
    justify-self: center;
    display: flex;
}

/* -- Message Section -- */

.message_section {
    flex: 1;
    flex-direction: column;
    padding-left: 55px;
    position: relative;
}

.submit-btn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

textarea {
    height: 200px;
}

.btn {
    background-color: #807440;
    border-color: #807440;
}
